<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MAIN</title>
</head>
<body>

<strong>MATIC BLOCK DISPLAY</strong><br>
<form method="get" action="/transactions">
    <label>User ADDRESS:</label>
    <br />
    <input type="text" name="address" />
    <br />
    <input type="submit" name="send" />
</form>

</body>
</html>
