<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MAIN</title>
</head>
<body>

<strong>MATIC BLOCK DISPLAY</strong><br>
<form method="POST" action="/transactions/">
    User ADDRESS:<input type="text" value="address">
    <input type="submit" value="send">
</form>

</body>
</html>
